<html>
<head>
<title>uThinkTank</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<%= stylesheet_link_tag    "login" %>
<%= javascript_include_tag "login" %>
</head>
<body>
<div id="container">
      <div id="mainlogo"><img src="images/logo3.png" alt="" /></div>
      <div id="emailtext"><p>Email</p></div>
      <div id="pwtext"><p>Password</p></div>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          
          <div id="login_email"><%= f.email_field :email, :class => 'login' %></div>
          <div id="login_pw"> <%= f.password_field :password , :class => 'login' %></div>
          <div id="signin">  <%= f.submit "Sign in" %><% end %></div>
          <div id="forgotpw"><%= render :partial => "devise/shared/links2" %></div>
		      
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div id="register_email"><%= f.email_field :email , :class => 'login',  :value => 'E-MAIL', :onfocus => 'fieldFocus(this)' , :onblur => 'fieldBlur(this)' %></div>
	      <div id="register_pw"><%= f.email_field :password , :class => 'field', 
        :value => 'PASSWORD',:id => 'pw', :onfocus => 'changeInputPass(this.id) ; fieldFocus(this)' , :onblur => 'fieldBlur2(this.id, this)' %></div>
        <div id="register_pwconf"><%= f.email_field :password_confirmation , :class => 'field', 
        :value => 'CONFIRM PASSWORD', :id => 'confpw', :onfocus => 'changeInputPass(this.id) ; fieldFocus(this)' , :onblur => 'fieldBlur2(this.id, this)' %></div>
        <div id="signup"><%= f.submit "Sign up" %></div>
      <% end %>
<div id="footer">
</div>
</div>
</body>
</html>