<html>
<head>
<title>uThinkTank</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<%= stylesheet_link_tag    "login" %>
<%= javascript_include_tag "login" %>
</head>
<body>
<div id="container">
      <div id="mainlogo"></div>
      <div id="emailtext"><p>Email</p></div>
      <div id="pwtext"><p>Password</p></div>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          
          <div id="login_email"><%= f.email_field :email, :class => 'login' %></div>
          <div id="login_pw"> <%= f.password_field :password , :class => 'login' %></div>
          <div id="signin">  <%= f.submit "Sign in" %></div>
          <div id="rememberme"><% if devise_mapping.rememberable? -%><%= f.check_box :remember_me %> <%= f.label :remember_me %><% end %></div>
          <% end %>
          <div id="forgotpw"><%= render :partial => "devise/shared/links2" %></div>
          
          
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
		<div id="registration">
			<div id="register_msg"><h2>Sign up and start changing the world!</h2><br><hr></div>
			<div id="register_email"><%= f.email_field :email , :class => 'login', :value => 'E-MAIL', :onfocus => 'fieldFocus(this)' , :onblur => 'fieldBlur(this)' %></div>
			  <div id="register_pw"><%= f.email_field :password , :class => 'field', 
			:value => 'PASSWORD',:id => 'pw', :onfocus => 'changeInputPass(this.id) ; fieldFocus(this)' , :onblur => 'fieldBlur2(this.id, this)' %></div>
			<div id="register_pwconf"><%= f.email_field :password_confirmation , :class => 'field', 
			:value => 'CONFIRM PASSWORD', :id => 'confpw', :onfocus => 'changeInputPass(this.id) ; fieldFocus(this)' , :onblur => 'fieldBlur2(this.id, this)' %></div>
			<div id="signup"><%= f.submit "Sign up" %></div>
		</div>
      <% end %>      
</div>
<div id="footer">
  <div id="footertext">
    <a href="http://www.uthinktank.com/about">About</a>
    |
    <a href="http://www.uthinktank.com/help">Help</a>
    |
    <a href="http://www.uthinktank.com/contact">Contact Us</a>
    |
    <a href="http://www.uthinktank.com/tos">Terms of Service</a>
  </div>
</div>
</body>
</html>